fastapi==0.103.2
uvicorn==0.22.0
sqlalchemy==2.0.23
python-jose[cryptography]==3.3.0
python-multipart==0.0.6
bcrypt==4.0.1
pydantic==2.5.2
python-dotenv==0.21.1
passlib[bcrypt]==1.7.4

# MongoDB dependencies
pymongo==4.6.1
motor==3.3.2
beanie==1.24.0
dnspython==2.3.0

# Google OAuth dependencies
google-auth==2.23.4
google-auth-oauthlib==1.1.0
google-auth-httplib2==0.1.1